# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 ***Objectives:***  To perform the give exercises.
 - List popular languages for Data Science
 - Some of the commonly used libraries used by Data Scientists 
 - Few examples of evaluating arithmetic expressions in Python
 - A simple arithmetic expression to mutiply then add integers
 - Convert 200 minutes to hours by diving by 60

 Some of the popular languages that Data Scientists use are:

 1.Python
 
 2.R
 
 3.C++
 
 4.Java

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
 
2. Pandas
 
3. Matplotlib
 
4. Sicpy

|Data Science Tools|
|----|
|JupyterNotebook|
|R studio|
|MY SQL|

Below are a few examples of evaluating arithmetic expressions in Python:

1. ADD(+)
2. Subtract(-)
3. Multiply(*)
4. Divide(/)
5. Power(**)

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author 
Tanishq Gupta